@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,500&display=swap");

/* *************** shared css style ********* */
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

header {
  padding: 2rem 15rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.btn_primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.primary_title {
  font-size: 48px;
  font-weight: 700;
}
/* *************** shared css style end ********* */

/* header section css style hare */

/* navber css hare  */
nav {
  display: flex;
  justify-content: space-between;
}

.band_lego {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.band_lego img {
  width: 5rem;
  height: 3rem;
}

.band_lego h3 {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.menu button {
  padding: 1rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* navber css end  */

/* banner_section css style  */
.banner_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text h3 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_text h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_text p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
}

.log_btn {
  border-radius: 48px;
  background:  linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  padding: 1.2rem 2.8rem;
  border: none;
  margin-top: 2.8rem;
}
.Rog_btn{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 1.2rem 2.8rem;
    border: none;
    margin-top: 2.8rem;
}
/* banner_section css style  end */
